<?php 
  /*
  * @package Framework for Opencart 2.0
  * @version 2.0
  * @author http://www.pavothemes.com
  * @copyright Copyright (C) Feb 2013 PavoThemes.com <@emai:pavothemes@gmail.com>.All rights reserved.
  * @license   GNU General Public License version 2
  */
  require_once(DIR_SYSTEM . 'pavothemes/loader.php');
  $config = $this->registry->get('config'); 
  $helper = ThemeControlHelper::getInstance( $this->registry, $config->get('config_template') );
  $helper->loadFooterModules();
  $layoutID = 1 ;
  $objlang = $this->registry->get('language');  $ourl = $this->registry->get('url');
?>
 
<!-- 
  $ospans: allow overrides width of columns base on thiers indexs. format array( column-index=>span number ), example array( 1=> 3 )[value from 1->12]
 -->
</div>
<?php if( !($helper->getConfig('enable_pagebuilder') && $helper->isHomepage())  ){ ?>
	<?php
	  $blockid = 'mass_bottom';
	  $blockcls = '';
	  $ospans = array(1=>12);
	  $tmcols = 'col-sm-12 col-xs-12';
	  require( ThemeControlHelper::getLayoutPath( 'common/block-cols.tpl' ) );
	?>
<?php } ?>
 
<footer id="footer" class="nostylingboxs">
	<?php
		$blockid = 'footer_center';
		$blockcls = '';
		$ospans = array(1=>12,2=>12,3=>12,4=>12);
		require( ThemeControlHelper::getLayoutPath( 'common/block-footcols.tpl' ) );
		if( count($modules) <=0 ){
			require( ThemeControlHelper::getLayoutPath( 'common/footer/footer_center.tpl' ) );
		}
	?>
	<?php
		$blockid = 'footer_bottom';
		$blockcls = '';
		$ospans = array(1=>3,2=>3,3=>3,4=>3);
		$tmcols = 'col-sm-4 col-xs-12';
		require( ThemeControlHelper::getLayoutPath( 'common/block-footcols.tpl' ) );
		if( count($modules) <=0 ){
			$footer_layout = $helper->getConfig('footer_layout','theme');
			if($footer_layout == "default") {
				require( ThemeControlHelper::getLayoutPath( 'common/footer/default.tpl' ) );
			} 
			else {
				require( ThemeControlHelper::getLayoutPath( 'common/footer/footer_bottom.tpl' ) );
			}
		}
	?>
</footer>
<div id="back-to-top"><a class="scrollup" href="#"><i class="fa fa-angle-up"></i><?php echo 'TOP';?></a></div>
 
<?php if( $helper->getConfig('enable_paneltool',0) ){  ?>
  <?php  echo $helper->renderAddon( 'panel' );?>
<?php } ?>
<?php
  $offcanvas = $helper->getConfig('offcanvas','category');
  if($offcanvas == "megamenu") {
      echo $helper->renderAddon( 'offcanvas');
  } else {
      echo $helper->renderAddon( 'offcanvas-category');
  }

  ?> 

</div>
<?php
  $offcanvas = $helper->getConfig('offcanvas','category');
  if($offcanvas == "megamenu") {
      echo $helper->renderAddon( 'offcanvas');
  } else {
      echo $helper->renderAddon( 'offcanvas-category');
  }
?>

</body></html>