body{
    &.layout-fullwidth{
        background: $body-bg;
    }
}
.layout-boxed-lg{
    max-width: $container-lg;
    margin: 0 auto;
}
header, .container {
	position: relative
}
#sidebar-main {
    float: none;
}
#sys-notification {
    position: absolute;
    z-index: 999;
    border-radius: 5px;
    #notification {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    }
}
.layout-fullwidth #sys-notification {
    width: 100%;
}
#group-menu {
    position: static;
    background: #363b3f;
    .container {
        padding-bottom: 0px;
        padding-top: 0px;
    }
}
#pav-megamenu {
    position: static;
}
.border-bottom {
    border-bottom: 1px solid $border-color;
    padding: 0px 10px;
}
#cart-top {
    margin-top: 11px;
    width: 34px !important;
    height: 34px;
    line-height: 34px;
    padding: 0px !important;
    position: absolute;
    @include rtl-right(15px);
    .dropdown-toggle {
        position: relative;
        #cart-total {
            position: absolute;
            color: $white;
            background: $theme-color;
            line-height: 1;
            padding: 3px 5px;
            border-radius: 100%;
            font-size: 10px;
            min-width: 17px;
            @include rtl-margin-left(-4px);
        }
        i {
            font-size: 17px;
            color: #222222;
        }
    }
    .dropdown-menu {
        text-transform: none;
        z-index: 1001;
        @include rtl-right(0px);
        font-size: 14px;
        font-family: $font-family-base-proxi;
        p {
            font-size: 16px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        table {
            border: none;
            a, .price {
                font-size: 14px;
                font-weight: bold;
                color: #222222;
            }
            a:hover {
                color: $theme-color;
            }
            .name {
                height: 61px;
                overflow: hidden;
                display: block;
                padding: 10px 0px;
            }
            .num {
                padding-left: 12px;
                padding-right: 12px;
            }
            * {
                border: none;
            }
        }
        li {
            > div {
                padding: 0 10px;
                tr {
                    border-top: 1px solid $border-color;
                    font-weight: bold;
                    color: #222222;
                    td {
                        padding: 15px 0px;
                    }
                }
            }
        }
        .btn-v1 {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

/***** Header *****/

    /* Header 1 */

    .header-v1 {
        .container {
            padding-top: 20px;
            padding-bottom: 15px;
        }
    }
    #icon-box-header {
        .fbox-icon {
            color: $theme-color;
            font-size: 20px;
        }
        .fbox-body {
            h4 {
                font-size: 12px;
                font-family: $font-family-base-proxi;
                margin-bottom: 0px;
                margin-top: 10px;
            }
            p {
                font-size: 12px;
                font-family: $font-family-base-proxi;
            }
        }
    }
    #logo {
        text-align: center;
        a {
            display: inline-block;
        }
    }
    .search {
        margin-top: 10px;
        width: 34px !important;
        height: 34px;
        line-height: 34px;
        padding: 0px !important;
        position: absolute;
        @include rtl-right(87px);
        .input-group {
            position: relative;
            display: block;
            input {
                @include size(34px,34px);
                line-height: 34px;
                border: none;
                background: none;
                transition: all ease 0.35s;
                text-indent: -9999em;
                font-family: 'Georgia';
                font-style: italic;
                color: #888888 !important;
                font-size: 14px;
                &:focus, &:active {
                    width: 200px;
                    text-indent: 0;
                    padding: 0px;
                    @include rtl-padding-right(34px);
                    @include rtl-padding-left(20px);
                    background: #ededed !important;
                }
            }
            .btn-default {
                @include size(34px,34px);
                position: absolute;
                @include rtl-right(0px);
                border: none;
                padding: 0;
                z-index: 9;
                background: none;
                font-size: 12.5px;
                color: #222222;
                &:hover {
                    color: $theme-color !important;
                }
            }
            &:hover {
                input {
                    width: 200px;
                    text-indent: 0;
                    background: #ededed !important;
                    padding: 0px;
                    @include rtl-padding-right(34px);
                    @include rtl-padding-left(20px);
                }
            }
        }
    }
    #setting  {
        margin-top: 11px;
        width: 34px !important;
        height: 34px;
        padding: 0px !important;
        position: absolute;
        @include rtl-right(51px);
        .dropdown-toggle {
            color: #222222;
            font-size: 15px;
            cursor: pointer;
            line-height: 34px;
        }
        &:hover {
            .dropdown-toggle {
                background: $theme-color;
                color: $white;
            }
        }
    }
    .box-setting {
        @include rtl-right(0px);
        background: $theme-color;
        padding: 15px 30px;
        h5 {
            font-size: 12px;
            color: $white;
            font-weight: normal;
        }
        .btn {
            line-height: 25px;
            padding: 0px;
            width: 10px;
            overflow: hidden;
            margin: 0 auto;
            font-size: 12px;
            color: $white;
        }
        .account {
            border-top: 1px solid #ee7a7a;
            margin-top: 20px;
            padding-top: 10px;
            li a {
                padding: 5px 0px;
                display: block;
            }
        }
        ul {
            padding: 0px;
            li {
                a {
                    color: $white;
                    font-size: 12px;
                    &:hover, &:focus {
                        background: none;
                        color: #222222;
                    }
                }
            }
            &.clearfix {
                margin-top: 10px;
                li {
                    @include rtl-float-left();
                    @include rtl-margin-right(3px);
                    width: 30px;
                    height: 25px;
                    line-height: 22px;
                    text-align: center;
                    background: #c65252;
                }
            }
        }
    }

/****** Content *****/

    /* Home */

    .product-tabs {
        .nav {
            display: inline-block;
            li {
                &:after {
                    content: "";
                    width: 4px;
                    height: 3px;
                    background: #333333;
                    position: absolute;
                    top: 46%;
                    @include rtl-right(-1.5px);
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
                a {
                    padding: 0px 10px;
                    text-transform: uppercase;
                    color: #bbbbbb;
                    &:hover {
                        color: $theme-color;
                    }
                }
                &.active a {
                    color: #222222;
                }
            }
        }
        .product-col {
            padding: 0px !important;
        }
        .row.products-row {
            margin: 0px !important;
            padding: 5px 2px;
        }
        .product-block {
            padding: 30px 30px 45px 30px;
            border: 1px solid $border-color;
            @include rtl-margin-left(-1px);
            margin-top: -1px;
            position: relative;
            &:hover {
                box-shadow: 0px 0px 5px #cdcdcd;
                z-index: 19;
            }
        }
        .product-meta {
            padding-top: 15px;
            &:before {
                content: "";
                height: 1px;
                width: 60%;
                background: $border-color;
                margin: 0 auto 12px auto;
                display: block;
            }
        }
    }
    .widget-html {
        .title {
            font-size: 12px;
            font-weight: normal;
            margin-top: 13px;
            margin-bottom: 3px;
        }
        .description {
            font-size: 12px;
            font-family: "Times New Roman", Times, serif;
            font-style: italic;
        }
        .views {
            font-size: 12px;
            font-weight: normal;
            margin-top: 4px;
        }
    }
    .widget-blogs {
        .owl-wrapper-outer {
            box-shadow: none;
        }
        .latest-posts-meta {
            font-size: 12px;
            font-family: "Times New Roman", Times, serif;
            font-style: italic;
            .created {
                @include rtl-margin-right(15px);
            }
        }
        .latest-posts-title {
            font-size: 12px;
            font-weight: normal;
            margin-bottom: 0px;
            margin-top: 5px;
            text-transform: uppercase;
        }
        .space-blog {
            border-bottom: 1px solid $border-color;
            padding-bottom: 15px;
        }
    }

/***** Footer *****/

    footer {
        color: $footer-color;
        margin-top: 40px;
        .footer-center {
            height: 404px;
            background: url("#{$image-theme-path}bg-footer-english.jpg") no-repeat;
        }
        .footer-bottom {
            padding-top: 25px;
            .col-right {
                @include rtl-border-left(1px solid $border-color);
                @include rtl-padding(0px, 10px, 0px, 40px);
            }
        }
        .formNewLestter {
            padding: 0px 50px;
            position: relative;
            h4 {
                font-size: 34px;
                font-family: 'Yellowtail';
                font-style: italic;
                color: #93928e;
                font-weight: 400;
                line-height: 1;
            }
            .description {
                font-size: 50px;
                font-family: $font-family-base-bold;
                color: #54718c;
                line-height: 1;
                .colortheme {
                    color: $theme-color;
                }
            }
            .newsletter {
                background: $white;
                .form-control {
                    font-size: 12px;
                    border: none;
                    padding: 15.5px 15px;
                    width: calc(100% - 105px);
                }
                button {
                    font-size: 12px;
                    padding-top: 17px;
                    padding-bottom: 17px;
                    width: 105px;
                }
            }
            .valid {
                position: absolute;
                width: calc(100% - 100px);
                margin-top: 10px;
            }
        }
        h4.panel-title {
            font-size: $footer-heading-font-size;
            font-weight: normal;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        ul {
            font-size: $footer-font-size !important;
            color: $footer-color !important;
            margin: 0px;
            li {
                padding: 0px !important;
                font-family: $font-family-base-proxi;
                font-size: 13px;
                color: $footer-link-color;
                a {
                    color: $footer-link-color;
                    text-transform: capitalize;
                    font-family: $font-family-base-proxi;
                    font-size: 13px;
                    &:hover {
                        color: $footer-link-hover-color;
                    }
                }
            }
        }
        .social-icon-list {
            li {
                @include rtl-margin-right(10px);
                a {
                    @include size(40px, 40px);
                    line-height: 40px;
                    display: inline-block;
                    text-align: center;
                    color: $white;
                    border-radius: 100%;
                    transition: all ease 0.35s;
                    &:hover {
                        transform: scale(1.3);
                        color: $white;
                    }
                }
                &.facebook a {
                    background: #3b5998;
                }
                &.twitter a {
                    background: #00aced;
                }
                &.googleplus a {
                    background: #dd4b39;
                }
                &.instagram a {
                    background: #517fa4;
                }
            }
        }
    }

    /*Copyright*/

    .copyright {
        font-size: $copyright-font-size;
        font-weight: $copyright-font-weight;
        width: 100%;
        border-top: 1px solid $border-color;
        padding: 15px 0px;
        font-family: $font-family-base-proxi;
        a {
            &:hover,
            &:focus,
            &:active{
                color: $theme-color;
            }
        }
        br {
            display: none;
        }
        p {
            padding-top: 10px;
        }
    }

/***** Back to TOP *****/

    #back-to-top {
        .scrollup {
            background: #333333;
            color: #ffffff;
            @include size(40px, 40px);
            border-radius: 100%;
            position: fixed;
            right: 10px;
            bottom: 82px;
            text-align: center;
            z-index: 9999;
            font-size: 12px;
        }
        i {
            display: block;
        }
    }

/***** Popup Quickview *****/

    .mfp-wrap {
        #sys-notification {
            position: static !important;
        }
    }